<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form view</title>
</head>
<body>
    <h1>here we are going to learn about the concept of the form view and this is very important features</h1>
    <form action="" method="post"novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">submit</button>
    </form>
    {% comment %} <button type="submit">submit</button> {% endcomment %}
</body>
</html>